/*styles the whole pge so that everything fits on the page without a left - right scrollbar*/
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*styles the aside to the left of the page*/
aside {
    margin-right: 0px;
    clear: both;
    float: left;
    width: 25%;
    height: 100%;
}

/*styles the main to the right of the page*/
main {
    padding: 0px;
    width: 73%;
    margin-left: 0px;
    float: right;
}